:root{
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo:#00030C;
    --botao-azul-efeito: #3c92fa;
    --font: 'Inter', sans-serif;
}
body{
    background: var(--cor-de-fundo);
    font-family: var(--font);
    color: var(--branco-principal);
    font-size: 16px;
}

.principal{
    background-image: url("/assets/img/Background.svg");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}
.container__caixa{
    margin: 0 6em;
}
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}
.container__titulo{
    font-size: 28px;
    font-weight: 700;
}
.container__botao{
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}
.botao_secundario {
    background-color:  transparent;
    border: 2px solid var(--branco-principal);
}
.container__aviso{
    font-size: 12px;

}
.container__imagem{
    margin: 1em 0 2em 0;
}
.secundario__imagem{
    width: 80%;
}
.secundario {
    align-items: center;
    margin: 0 10em;
}
.descricao__titulo{
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;

}
.descricao__texto{
   color: var(--cinza-secundario);
}
.secundario__botao{
    display: inline-block;
    margin-top: 1em;
}
.container__descricao{
    padding: 2em;
}
.dispositivos{
    text-align: center;
}
.dispositivos__titulo{
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
}
.dispositivos__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
    transition: transform .3s;
}
.lista__item{
    font-size: 32px;
}
.rodape{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.rodape__link{
    display: flex;
    padding: 1em;
    margin-bottom: 5em;
}
.lista__link{
    padding: 1em
}
.rodape__texto{
    margin:0 5em;
    font-weight: 400;
    font-size: 14px;
    padding-bottom: 1em;
}
.texto_secundario{
    margin-bottom: 3em;
}
/*Animações*/
.lista__link a:hover{
    color: var(--botao-azul);
}
.lista__link  a:active {
    color: var(--cinza-secundario);
}
.container__botao:hover{
    background-color: var(--botao-azul-efeito);
    color:var(--cor-de-fundo)
}
.botao_secundario:hover{
    background-color: transparent;
    color:var(--branco);
}
.dispositivos__lista img:hover{
    transform: scale(1.1);
}
.container__imagem{
    animation: fromTop .7s 2s backwards;
}
.secundario__imagem{
    animation: fromBottom .7s backwards;
}
.container__imagem:nth-child(1){
    animation-delay: .4s;
}
.secundario__imagem:nth-child(2){
    animation-delay: .8s;
}
@keyframes fromTop {
    form {
        opacity:0;
        transform: translateY(-30px);
    }
    
    to{
        opacity:0;
        transform: translateY(0);
    }
}
@keyframes fromBottom {
    form {
        opacity:0;
        transform: translateY(30px);
    }
    
    to{
        opacity:0;
        transform: translateY(0);
    }

}